body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f8f5;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #38ddcc;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #38ddcc;
    color: #fff;
}